$font-text: Barlow, sans-serif;
$font-main: Fraunces, serif;

$colorBlack: #24303E;
$colorLightGray: #A7AAAD;
$colorDarkGay: #5B636D;
$colorGray: #808397;


body {
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 34 40;
}

a {
    font-weight: 600;
    font-size: 18px;
    padding: 16px;
    font-family: $font-text;
    text-decoration: none;
    color: #fff;
   
}

a:visited {
    font-family: $font-main;
    color: #24303E;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 28px;
    padding: 10px 16px;
}

a:hover {
    font-family: $font-main;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .2537);
    border-radius: 28px;
    padding: 10px 16px;
}

.header h1 {
    color: rgba(255, 255, 255, 1);
    font-family: $font-main;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8.75px;
    font-size: 56px;
    font-weight: 900;
    object-position: 0px;
    position: relative;
    top: 165px;
    margin: 0;
}

.header {
    background-image: url("../images/photos/image-header.jpg");
    background-size: cover;
    height: 700px;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 34px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding-right: 40px;
}

.logo img {
    width: 170px;
    padding-left: 40px;
}

.arrow {
    position: relative;
    top: 195px;
    text-align: center;
}
//blocks

.bloc1,
.bloc2,
.bloc3 {
    display: flex;
    flex-direction: row;
}

.text,
.picture,
.card {
    flex: 1;
    width: 50vw;
}

.picture>img {
    width: 100%;    
}

.bloc1 .text, 
.bloc2 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.text>h3, .text>p, .text>a {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 0;
}

.text>h3, .text>a {
    font-family: $font-main;
    color: $colorBlack;
}

.text h3 {
    letter-spacing: -.29px;
    font-weight: 900;
    font-size: 40px;
}
.text p {
    font-family: $font-text;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -.13px;
    color: $colorGray;
}

.text a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 15px;

}

.text{
    position: relative;
}
.rectangle {
    width: 137px;
    height: 10px;
    color: #FAD400;
    position: absolute;     
}

.card>img {
    width: 100%;
    display: block;    
}

.card {
    position: relative;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 55%);
    width: 50%;
    z-index: 1;
}
//Testimonials

.testimonials {
    margin: 100px auto;
    max-width: 80%;
    
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.client1, .client2, .client3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
}

.client-photo {    
    border-radius: 50%;
    overflow: hidden;
    width: 72px;
    height: 72px;
    background-color: $colorLightGray; 
    background-size: cover;  
    margin: 20px auto;
}

.client1>.client-photo {
    background-image: url(../images/people/image-emily.jpg);
}

.client2>.client-photo {
    background-image: url(../images/people/image-thomas.jpg);
}

.client3>.client-photo {
    background-image: url(../images/people/image-jennie.jpg);
}

.testimonials>h3 {
    font-family: $font-main;
    font-size: 20px;
    letter-spacing: 5px;
    color: $colorLightGray;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin: 25px auto;
}

.review {
    font-family: $font-text;
    color: $colorDarkGay;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.13px;
    margin: 15px auto 45px;
}

.client-info>h4 {
    font-family: $font-main;
    color: $colorBlack;
    font-size: 18px;
    letter-spacing: -.13px;
    margin: 15px auto;
    font-weight: 900;
}

.client-info>p {
    font-family: $font-text;
    color: $colorLightGray;
    font-weight: 600;
    letter-spacing: -.1px;
    font-size: 14px;
    margin: 0;
}
 //gallery

 .gallery {
    display: flex;
    flex-direction: row;  
 }

 .gallery>img {
    flex: 1;
    width: 25vh;
 }

 //footer


 .footer-menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-items: center;
    justify-content: center;
    margin: 10px auto;
}

.footer-menu > a{
    font-family: $font-text;
    color: #458D7E;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -.13;
    margin: 10px;
}

.footer-menu > a:hover {
    font-family: Barlow, sans-serif !important;
    color: #fff;
    background-color: transparent !important;
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    letter-spacing: -.13 !important;
    margin: 10px !important;
    vertical-align: middle !important;
  
  }

footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #90D4C6;
    height: 45vh;  
    width: 100%;  
    padding-top: 10vh;   
}
.footer-logo {
    margin: 20px auto;
 }

 .social-media {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    margin: 10px auto;
 }

 .social-media>svg {
    padding: 0 15px;
 }

